@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Signika:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: #0D3B66 !important;
    font-weight: 400;
}

p {
    margin-bottom: 0 !important;
}

h4 {
    margin-bottom: 0 !important;
    color: #0D3B66 !important;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo img.text-logo {
    width: 120px;
}

.navbar-collapse {
    justify-content: space-between;
}

.collapse.header {
    flex-direction: row !important;
}

.navbar {
    padding-block: 0 !important;
}

form svg {
    position: absolute;
    bottom: 18px;
    left: 260px;
}

input[type=search] {
    padding-left: 3rem;
    width: 20rem;
    border-radius: 15px;
    font-size: 14px;
}

.container-fluid {
    position: sticky;
    top: 0;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    align-items: center;
    background-color: #F4D35E;
    padding-block: .3rem;
    margin-left: -1rem;
    width: 102%;
    box-shadow: -1px 1px 10px;
}

.dropdown-item:active {
    background-color: #F4D35E !important;
}

ul {
    font-weight: 400;
    margin-bottom: 0 !important;
    padding-block: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

button.dropdown-toggle {
    border: 0;
    background-color: transparent;
    color: #0D3B66;
}

.user {
    background-color: #0D3B66;
    padding-inline: 1.5rem;
    padding-block: .3rem;
    border-radius: 35px;
}

.user a {
    font-weight: 500;
    color: #fff !important;
}

.hero {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
}

.carousel {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
}

iframe {
    width: 100%;
    height: 610px;
}

button.carousel-control-prev, .carousel-control-next {
    background-color: #0D3B66 !important;
    border-radius: 50%;
}

#carouselImage button.carousel-control-prev, #carouselImage .carousel-control-next {
    height: 18%;
    background-color: #0D3B66 !important;
    border-radius: 50%;
}

#carouselImage .carousel-inner {
    width: unset !important;
}

#carouselImage .carousel-item-start {
    display: flex;
    justify-content: center;
}

#carouselImage .carousel-item-end {
    display: flex;
    justify-content: center;
}

#carouselImage .carousel-control-prev, #carouselImage .carousel-control-next {
    top: 120px !important;
}

.carousel-control-prev, .carousel-control-next {
    top: 280px !important;
    bottom: 280px !important;
    width: 3.5rem !important;
}

#carouselImage .carousel-control-prev {
    left: 15% !important;
}

#carouselImage .carousel-control-next {
    right: 15% !important;
}

.carousel-control-prev {
    left: -5% !important;
}

.carousel-control-next {
    right: -5% !important;
}

main {
    padding-top: 1rem;
    padding-inline: 3rem;
}

article {
    font-family: 'Signika', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

article h1 {
    padding-block: 1rem;
    font-weight: 400;
    color: #0D3B66;
    font-size: 25px;
    text-align: center;
}

article h2 {
    font-size: 25px;
    color: #0D3B66;
    margin-bottom: 2rem;
}

article h3 {
    margin-top: 2rem;
    font-size: 20px;
    color: #0D3B66;
}

img.image-pulau {
    width: 30rem;
    height: 20rem;
}

p.text-pulau {
    margin-top: 2rem;
    margin-inline: 10rem;
    text-align: center;
    color: #0D3B66;
}

.list-cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;
}

.item-card img {
    margin: 0;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(<path-to-image>);
    object-fit: cover
}

.overlay {
    position: absolute;
    border-radius: 1.25rem;
    width: 10rem;
    height: 10rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.35) 67.08%, #000 100%);
}

.overlay-pulau {
    position: absolute;
    border-radius: 1.25rem;
    width: 10rem;
    height: 10rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.35) 67.08%, #000 100%);
}

.item-text {
    position: relative;
    z-index: 1;
    margin-top: -2rem;
    text-align: center;
    color: #fff;
}

.collapsing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsing img {
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse img {
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse#jawa img {
    width: 80%;
}

.collapsing#jawa img {
    width: 80%;
}

.collapse#kalimantan img {
    width: 40%;
}

.collapsing#kalimantan img {
    width: 40%;
}

.collapse#sumatera img {
    width: 30%;
}

.collapsing#sumatera img {
    width: 30%;
}

.collapse#sulawesi img {
    width: 30%;
}

.collapsing#sulawesi img {
    width: 30%;
}

.collapse#papua img {
    width: 40%;
}

.collapsing#papua img {
    width: 40%;
}

.detail-island {
    width: 60%;
    text-align: right;
}

.detail-island a {
    padding: .5rem;
    padding-inline: 2rem;
    background-color: #F4D35E;
    border-radius: 10px;
}

section.splide {
    padding-inline: 3rem;
    width: 110%;
}

ul.splide__pagination {
    bottom: -1.5em;
}

li.splide__slide img {
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.splide__list {
    width: 100%;
}

.splide:not( .is-overflow ) .splide__arrows {
    display: none;
}

.splide:not( .is-overflow ) .splide__list {
    justify-content: center;
  }

ul.splide__list {
    margin: 1rem !important;
}

.text-pulau__item {
    position: relative;
    z-index: 1;
    margin-top: -2rem;
    color: #fff;
    text-align: center;
}

img.image-suku {
    width: 40rem;
}

p.text-suku {
    margin-top: 2rem;
    margin-inline: 10rem;
    text-align: center;
    color: #0D3B66;
}

.feedback {
    display: flex;
    gap: 5rem;
    margin-inline: 2.5rem;
}

.feedback-description {
    width: 100%;
}

.feedback-description h2 {
    margin-bottom: 1rem;
}

.feedback-form {
    width: 100%;
}

.feedback-verified {
    display: flex;
    justify-content: space-between;
}

.feedback-submit {
    padding-inline: 2rem;
    padding-block: .3rem;
    background-color: #0D3B66;
    border: 0;
    color: #fff;
    border-radius: 5px;
}

.feedback-item {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback-card {
    width: 25rem;
    border: 1px solid;
    padding: .5rem;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-bottom: 2rem;
}

.title-team {
    margin-top: 2rem;
    margin-bottom: 0;
}

.about-us__page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-inline: 5rem;
    color: #0D3B66;
}

.about-us__creator {
    color: #0D3B66;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}

.about-us__card img {
    width: 15rem;
    border-radius: 10px;
}

footer {
    width: 102%;
    margin-left: -1rem;
    margin-top: 3rem;
    padding: 1rem;
    padding-inline: 3rem;
    color: #0D3B66;
    background-color: #E4E4E4;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer-title img {
    width: 50px
}

.footer-title img.text-logo {
    width: 120px;
}

.footer-pulau {
    display: flex;
    flex-direction: column;
}

.footer-pulau h4 {
    font-weight: 500;
    margin-bottom: 1rem !important;
}

.about-us {
    margin-top: 2.5rem;
}

.footer-item {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-medsos {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.copyright {
    background-color: #474747;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-block: .5rem;
    margin-left: -1rem;
    width: 102%;
}

.copyright p {
    font-weight: 500;
}

.body-login {
    background: linear-gradient(141deg, #FFDF6C 20.01%, rgba(232, 217, 167, 0.50) 72.89%, rgba(244, 211, 94, 0.00) 90.35%);
}

.body-register {
    background: linear-gradient(141deg, #FFDF6C 20.01%, rgba(232, 217, 167, 0.50) 72.89%, rgba(244, 211, 94, 0.00) 90.35%);
}

.container-login {
    font-family: 'Signika', sans-serif;
    color: #0D3B66;
    margin: 5rem;
    margin-inline: 10%;
    background-color: #fff;
    padding-block: 5rem;
    padding-inline: 5rem;
}

.container-login h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 3rem;
}

.login-item {
    display: flex;
    justify-content: space-around;
}

.login-register__submit {
    padding-inline: 2rem;
    padding-block: .3rem;
    background-color: #0D3B66;
    border: 0;
    color: #fff;
    border-radius: 5px;
}

a.login-register__now {
    color: #1887EE !important;
    text-decoration: underline !important;
}

.login-line {
    width: 2px;
    height: 224px;
    background-color: #000;
}

.login-google {
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: #0D3B66;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding-right: 5rem;
}

.back-login {
    border: 0;
    background-color: transparent;
}

.container-register {
    display: flex;
    color: #0D3B66;
    font-family: 'Signika', sans-serif;
}

.container-register img {
    width: 20rem;
    height: 40.8rem;
    object-fit: cover;
    border-radius: 0 1rem 1rem 0;
}

.overlay-register {
    position: absolute;
    border-radius: 0 1rem 1rem 0;
    width: 20rem;
    height: 40.8rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.35) 67.08%, #000 100%);
}

.register-item {
    margin: 3rem;
    margin-block: 4rem;
}

.register-item h1 {
    font-size: 30px;
    margin-bottom: 3rem;
}

.register-item form {
    width: 25rem;
}

aside {
    margin-left: -1rem;
    background-color: #F4D35E;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0 .5rem .5rem 0;
    position: fixed;
}

.logo-container {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
}

aside .logo {
    width: 50px
}

aside .name-logo {
    width: 120px
}

aside ul {
    padding-left: 1.5rem;
}

aside a {
    display: flex;
    gap: .5rem;
    align-items: center;
}

aside h5 {
    margin-bottom: 0;
}

.admin-page {
    margin-left: 20%;
}

.button-logout {
    display: flex;
    justify-content: flex-end;
}

.admin-page a {
    text-align: right;
    background-color: #0D3B66;
    color: #fff !important;
    padding: .5rem;
    padding-inline: 1.5rem;
    border-radius: 20px;
}

.admin-page h1 {
    margin-bottom: 2rem;
    font-size: 25px;
    color: #0D3B66;
}

.admin-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.admin-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    color: #0D3B66;
    font-size: 20px;
}

.color-1 {
    background: linear-gradient(45deg, #fbffe9ed, #efff35);
}

.color-2 {
    background: linear-gradient(45deg, #c5fffd, #1dffd6);
}

.color-3 {
    background: linear-gradient(45deg, #c6ffbf, #16ff22);
}

.color-4 {
    background: linear-gradient(45deg, #ffd7d7, #ff4f4f);
}

.admin-add {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.admin-add a {
    background-color: #00DFA2;
    font-weight: 500;
    color: #000 !important;
}

tr.table-yellow th {
    background-color: #f2ff7c;
}

td.action-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

td a {
    text-align: unset !important;
    padding: .5rem !important;
    padding-inline: 1rem !important;
    border-radius: 10px !important;
}

td a.edit {
    background-color: #1794ff;
}

td a.delete {
    background-color: #ff0000;
}

@media screen and (max-width: 1024px) {
    #carouselImage .carousel-control-prev {
        left: 10% !important;
    }

    #carouselImage .carousel-control-next {
        right: 10% !important;
    }
}

@media screen and (max-width: 768px) {
    iframe {
        height: 300px;
    }

    button.carousel-control-prev, .carousel-control-next {
        height: 50px
    }

    .carousel-control-prev, .carousel-control-next {
        top: 130px !important;
        width: 3rem !important;
    }

    .carousel-control-prev {
        left: -10% !important;
    }

    .carousel-control-next {
        right: -10% !important;
    }

    .collapse.header {
        padding-top: 1rem;
        gap: 1rem;
        position: absolute;
        flex-direction: column !important;
        top: 60px;
        width: 99%;
        background-color: #fff;
        margin-left: -4rem;
    }

    .navbar-collapse.collapsing {
        padding-top: 1rem;
        gap: 1rem;
        position: absolute;
        flex-direction: column !important;
        top: 60px;
        width: 99%;
        background-color: #fff;
        margin-left: -4rem;
    }

    .detail-island {
        width: 90%;
    }

    .collapse#jawa img {
        width: 100%;
    }

    .collapsing#jawa img {
        width: 100%;
    }

    .collapse#kalimantan img {
        width: 50%;
    }

    .collapsing#kalimantan img {
        width: 50%;
    }

    .collapse#sumatera img {
        width: 50%;
    }

    .collapsing#sumatera img {
        width: 50%
    }

    .collapse#sulawesi img {
        width: 50%;
    }

    .collapsing#sulawesi img {
        width: 50%;
    }

    .collapse#papua img {
        width: 60%;
    }

    .collapsing#papua img {
        width: 60%;
    }

    form[role=search] {
        margin-right: 0;
    }

    form svg {
        bottom: 70px;
        left: 230px;
    }

    ol, ul {
        padding-left: 0 !important;
    }

    #carouselImage button.carousel-control-prev, #carouselImage button.carousel-control-next {
        height: 15%;
    }

    #carouselImage .carousel-control-prev {
        left: -5% !important;
    }

    #carouselImage .carousel-control-next {
        right: -5% !important;
    }
    
    p.text-pulau {
        margin-inline: 4rem;
    }

    p.text-suku {
        margin-inline: 2rem;
    }

    .feedback {
        margin-inline: 0;
    }

    .feedback-card {
        width: 18rem;
    }

    .container-login {
        margin-inline: 2%;
        padding-block: 3rem;
        padding-inline: 3rem;
    }

    .register-item form {
        width: 20rem;
    }
}

@media screen and (max-width: 425px) {
    header {
        padding-inline: 2rem
    }

    main {
        padding-inline: .5rem;
    }
    
    iframe {
        height: 250px;
    }

    .collapse.header {
        width: 96%;
        margin-left: -2rem;
    }

    .navbar-collapse.collapsing {
        width: 96%;
        margin-left: -2rem;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 100px !important;
        width: 3rem !important;
    }

    .carousel-control-prev {
        left: -10% !important;
    }

    .carousel-control-next {
        right: -10% !important;
    }

    #carouselImage .carousel-control-prev {
        left: -10% !important;
    }

    #carouselImage .carousel-control-next {
        right: -10% !important;
    }

    .collapse#kalimantan img {
        width: 80%;
    }

    .collapsing#kalimantan img {
        width: 80%;
    }

    .collapse#sumatera img {
        width: 70%;
    }

    .collapsing#sumatera img {
        width: 70%
    }

    .collapse#sulawesi img {
        width: 70%;
    }

    .collapsing#sulawesi img {
        width: 70%;
    }

    .collapse#papua img {
        width: 80%;
    }

    .collapsing#papua img {
        width: 80%
    }

    .detail-island {
        text-align: center;
    }

    .detail-island a {
        padding-inline: .5rem;
    }

    form svg {
        left: 55px;
    }

    .logo img.text-logo {
        display: none
    }

    footer {
        flex-direction: column;
        gap: 1rem;
    }

    img.image-pulau {
        width: 20rem;
        height: 15rem;
    }

    #carouselImage button.carousel-control-prev, #carouselImage button.carousel-control-next {
        height: 20%;
    }

    #carouselImage .carousel-control-prev, #carouselImage .carousel-control-next {
        top: 100px !important;
    }

    p.text-pulau {
        margin-inline: 1.5rem
    }

    img.image-suku {
        width: 100%;
    }

    p.text-suku {
        margin-inline: 1rem;
    }

    .feedback {
        gap: 1rem;
        flex-direction: column;
    }

    .about-us {
        margin-top: 1rem;
    }

    .footer-item {
        margin-top: 1rem;
    }

    .container-login {
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .login-item {
        flex-direction: column;
        gap: 1rem;
    }

    .login-line {
        width: 100%;
        height: 2px;
    }

    .container-register img {
        display: none;
    }

    .overlay-register {
        display: none;
    }

    .register-item {
        width: 100%;
        display: flex;
        margin: 1rem;
        margin-block: 3rem;
        flex-direction: column;
        align-items: center;
    }

    .register-item form {
        width: 18rem
    }
}

@media screen and (max-width: 375px) {
    form svg {
        left: 35px;
    }

    .carousel-control-prev {
        left: -10% !important;
    }

    .carousel-control-next {
        right: -10% !important;
    }

    .feedback {
        margin-inline: 1rem;
    }

    .feedback-card {
        width: 18rem;
    }
}