<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/logo12.png" type="image/x-icon" />
    <link rel="stylesheet" href="./../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f5ed80d948.js"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="../components/header-bar.js"></script>
    <script src="../components/footer-bar.js"></script>
    <script src="../utils/views-search.js"></script>
    <title>BudayaKu</title>
  </head>
  <body class="body-login">
    <div class="container-login">
      <button class="back-login" type="button" onclick="window.history.back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none">
          <path
            d="M14.2848 22.5188L13.2008 23.6028C12.7419 24.0618 11.9997 24.0618 11.5456 23.6028L2.05338 14.1155C1.59439 13.6565 1.59439 12.9143 2.05338 12.4602L11.5456 2.96802C12.0045 2.50903 12.7467 2.50903 13.2008 2.96802L14.2848 4.052C14.7487 4.51587 14.7389 5.27271 14.2653 5.72681L8.3815 11.3323H22.4147C23.0641 11.3323 23.5866 11.8547 23.5866 12.5042V14.0667C23.5866 14.7161 23.0641 15.2385 22.4147 15.2385H8.3815L14.2653 20.844C14.7438 21.2981 14.7536 22.0549 14.2848 22.5188Z"
            fill="black" />
        </svg>
      </button>
      <h1>Log In to BudayaKu</h1>
      <div class="login-item">
        <form method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
              required />
          </div>
          <div class="mb-3">
            <button type="submit" class="login-register__submit">Log In</button>
          </div>
          <p>
            Belum punya Akun?
            <a class="login-register__now" href="./register.html"
              >Daftar Sekarang</a
            >
          </p>
        </form>
        <div class="login-line"></div>
        <div class="login-auth">
          <button class="login-google">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none">
              <path
                d="M23.8281 12.3926C23.8281 19.3018 19.0967 24.2188 12.1094 24.2188C5.41016 24.2188 0 18.8086 0 12.1094C0 5.41016 5.41016 0 12.1094 0C15.3711 0 18.1152 1.19629 20.2295 3.16895L16.9336 6.33789C12.6221 2.17773 4.60449 5.30273 4.60449 12.1094C4.60449 16.333 7.97852 19.7559 12.1094 19.7559C16.9043 19.7559 18.7012 16.3184 18.9844 14.5361H12.1094V10.3711H23.6377C23.75 10.9912 23.8281 11.5869 23.8281 12.3926Z"
                fill="white" />
            </svg>
            Log In with Google
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
