<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/logo12.png" type="image/x-icon" />
    <link rel="stylesheet" href="./../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f5ed80d948.js"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <title>BudayaKu</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="logo">
          <picture>
            <a href="../index.html"
              ><img src="./../img/logo12.png" alt="BudayaKu"
            /></a>
          </picture>
          <picture style="padding-right: 1rem">
            <img class="text-logo" src="./../img/logo.svg" alt="" />
          </picture>
          <form class="d-flex" role="search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none">
              <g clip-path="url(#clip0_118_20)">
                <path
                  d="M24.6582 21.6162L19.79 16.748C19.5703 16.5283 19.2725 16.4062 18.96 16.4062H18.1641C19.5117 14.6826 20.3125 12.5146 20.3125 10.1562C20.3125 4.5459 15.7666 0 10.1562 0C4.5459 0 0 4.5459 0 10.1562C0 15.7666 4.5459 20.3125 10.1562 20.3125C12.5146 20.3125 14.6826 19.5117 16.4062 18.1641V18.96C16.4062 19.2725 16.5283 19.5703 16.748 19.79L21.6162 24.6582C22.0752 25.1172 22.8174 25.1172 23.2715 24.6582L24.6533 23.2764C25.1123 22.8174 25.1123 22.0752 24.6582 21.6162ZM10.1562 16.4062C6.7041 16.4062 3.90625 13.6133 3.90625 10.1562C3.90625 6.7041 6.69922 3.90625 10.1562 3.90625C13.6084 3.90625 16.4062 6.69922 16.4062 10.1562C16.4062 13.6084 13.6133 16.4062 10.1562 16.4062Z"
                  fill="#C5C5C5" />
              </g>
              <defs>
                <clipPath id="clip0_118_20">
                  <rect width="25" height="25" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <input
              class="form-control me-2"
              type="search"
              placeholder="Cari Berdasarkan Pulau, Suku"
              aria-label="Search" />
          </form>
        </div>
        <div class="list">
          <ul>
            <div class="dropdown">
              <button
                class="dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Pulau
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./pulau-jawa.html">Jawa</a>
                </li>
                <li><a class="dropdown-item" href="#">Kalimantan</a></li>
                <li>
                  <a class="dropdown-item" href="#">Sumatera</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Sulawesi</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Papua</a>
                </li>
              </ul>
            </div>
            <li><a href="#">About Us</a></li>
            <div class="user">
              <li><a href="./login.html">Log In</a></li>
            </div>
          </ul>
        </div>
      </header>
    </div>
    <div class="container-xxl">
      <main>
        <article>
          <h2>Pulau Jawa</h2>
          <img
            src="https://s3-alpha-sig.figma.com/img/c6b3/6d27/8bc5dbdf4af02f5a7d011bb8244ebc07?Expires=1701648000&Signature=oOgm2aftvV4ANVbUHYn~0kqLeDmDj2Pgv7kFWMERz6-sN4DrtIshDfjIuy~FKOa8zoGd1YLAcRiFi4RgVm-NSVHATnpF2HDu8XQvV2FySBltrxiAHxqLqAyYoNcfnOIDVJynJNimidEk5kSHQwh8rP4JQt~f7WEcGIEwaaqMhMaa0dSijLe4lO3c8cKBLoSBzH~XIOs7PPr-uXzGnDHfrlYdPkYIVru4tVuBW6wT~Bxuq5YdmJYmRC2~tT7WSEqEdR~i-emjG6YqJTZJeHj0lbtHL0EG9dY~5ZvQ35xsGv9fikBiN12KxNqWiHosU8VacAdIyMPbdtyy7f8DqQuG4A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
            class="image-pulau" />
          <p class="text-pulau">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
            consequatur doloremque rerum mollitia ad aut! Vel, similique et
            accusamus ducimus amet excepturi eveniet ratione molestiae
            doloremque, voluptates iste quae maxime.
          </p>
        </article>
        <article>
          <h3>Suku di Pulau Jawa</h3>
          <section class="splide" aria-label="Placeholder Example">
            <ul class="splide__pagination"></ul>
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <a href="./suku-jawa.html">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/314f/1a8a/de4ba34825666539aa7e4a89da495198?Expires=1701648000&Signature=nGTUCpEhcO103fvH~u5DGleDg460tmSttuxvvBgulb4DNvksoL3HyPhqesEF9QefdmXjTAsTrpSiiTTEq6zpmixA1W3Y3qoTUjeM6cA8YIavitAd6ce8WPe2IWKB5UvNIgD1E4ab2BFKbkvZwBTzhvqS7dQCB4CzLh5jrbYfLOcg-PuCW3DNcAZcpWqUTcEsOj1fFw7IW1uxRpYjbDv3hfQTXGnp3y315GrlxYUwOvWbk1SqI1i5cq62nwQd15FXaQ14zWu32ek6tZnwGxxAcJb~pIRB5SEmue~1H-KeFFrYgJaldZWpcKL~Oqt78zJe0mUJGPzAEnBs-uxqZNGNVg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Suku Jawa</p>
                  </a>
                </li>
                <li class="splide__slide">
                  <a href="#">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/ef96/7422/2c6fff7ed482493eb48542ebb4073897?Expires=1702252800&Signature=qGP6tkrZltOwwdBI0xxSLkqntmIfoWkYbp-1F-UHCrSUcCaArWUYci5vqM16y-LUVUkEeW8J~8B2FYAv~39nm-E7ZPZe1eIvzbVv7ctgFjaoigRy6OIewIVL8lUbJ0pHfPBqo4CK5x6~PSEUXlxEANuqFUFF-6S7Enw9rO5cM1GD5v~EUHNaj-0jirFsWxM376OZtFKjrlhCIfV4~x4bXncqz-CqZsuLQOzhWPUr6x7Eu2UM091OQykhibRQ~bKEaNH0QgHtSgoCWgQSKpEyinkEdl5f1xEI4z4bFRVv7iKDROWBWr7KgSeNywpkYWmHs5PEvvSt5NJ20Kc~uTjF-A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Suku Sunda</p>
                  </a>
                </li>
                <li class="splide__slide">
                  <a href="#">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/0ca7/6798/ba9586368d5e5fb551c854a00152eedb?Expires=1702252800&Signature=S0mY4mfkUZubkpvQClfUq2Cz~TUt0EyBauKgRkcSfjS6zdQX7IKqE7oZZQwVTS4Fsbl0jsjrxLcTIvhh-p4YLF3OhE7UomST1nIN1Q9kBM8EGDb0F0RN8bnXV-TlSnvVyOajflSj-QXV34pVB50pfMPLB1loArHaI~Tb~RetRcgWrR2XyFl~lYrFgDbATTEJp-DOReEtaRW41TIDB8RDx7bQtWunsXj0Vu7zWqTrqdPAzLht2oaOsf5nTB1qbRHM7EvTBDKaTijXbZKpW-EFSAnyvkbANHyJy2PAqXxv3zsdHQQqXRuLCuVz-Xi7C1wWjjAGrYugPs11HcoLO~V8nw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Suku Betawi</p>
                  </a>
                </li>
              </ul>
            </div>

            <!-- default location -->
          </section>
        </article>
      </main>
    </div>
    <div class="container-fluid">
      <footer>
        <div class="footer-title">
          <picture>
            <a href="#"><img src="./../img/logo12.png" alt="" /></a>
          </picture>
          <picture>
            <img class="text-logo" src="./../img/logo.svg" alt="" />
          </picture>
        </div>
        <div class="footer-pulau">
          <h4>Pulau</h4>
          <a href="#">Pulau Jawa</a>
          <a href="#">Pulau Kalimantan</a>
          <a href="#">Pulau Sumatera</a>
          <a href="#">Pulau Sulawesi</a>
          <a href="#">Pulau Papua</a>
        </div>
        <a class="about-us" href="#">About Us</a>
        <div class="footer-item">
          <div class="footer-medsos">
            <i class="fa-brands fa-facebook-f"></i>
            <p>: Facebook</p>
          </div>
          <div class="footer-medsos">
            <i class="fa-brands fa-instagram"></i>
            <p>: Instagram</p>
          </div>
        </div>
      </footer>
      <div class="copyright">
        <p>© 2023 BudayaKu</p>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
          autoWidth: true,
          perPage: 7,
          focus: 0,
        });

        splide.mount();
      });
    </script>
  </body>
</html>
