<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/logo12.png" type="image/x-icon" />
    <link rel="stylesheet" href="./../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="../components/header-bar.js"></script>
    <script src="../components/footer-bar.js"></script>
    <script src="../utils/views-search.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css"
      rel="stylesheet" />
    <title>BudayaKu</title>
  </head>
  <body>
    <header-bar></header-bar>
    <div class="container-xxl">
      <main>
        <div data-aos="fade-down">
          <article>
            <h2>Suku Jawa</h2>
            <picture>
              <source
                srcset="
                  https://s3-alpha-sig.figma.com/img/314f/1a8a/de4ba34825666539aa7e4a89da495198?Expires=1702252800&Signature=niqRB7KQsJ6V7bPSRnI40xOyGVfw7I2Qg1X7vI~G2QFD-dqixmsNbb35fHPgJ3CUN33SRWENpxkzC8SS~1IO0rnl4BZhrEzmPgjUowj-vQhVvQeZX-5amgGQdOQrDl43CvUZZ4lc0PXg0K1jjvE3w68mFaafYiU5v-HiSy1SrAHV4Vs1hQH1vUzSGNkgixB6yonOCq3j4W4bB0m0SYjMq1YBejoJtQf8BCbWnd7wBeNKfd2a3dLgSzYlzbx-hap3uAhLo97B7OyVzEEtn8I2ay70jVLvPwHRS8FtnkEcqlUHG1hoJ9viUDmqxUVyw99L3UJC2e-ALjH3Rd-ajEmxCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4
                " />
              <img
                src="https://s3-alpha-sig.figma.com/img/314f/1a8a/de4ba34825666539aa7e4a89da495198?Expires=1702252800&Signature=niqRB7KQsJ6V7bPSRnI40xOyGVfw7I2Qg1X7vI~G2QFD-dqixmsNbb35fHPgJ3CUN33SRWENpxkzC8SS~1IO0rnl4BZhrEzmPgjUowj-vQhVvQeZX-5amgGQdOQrDl43CvUZZ4lc0PXg0K1jjvE3w68mFaafYiU5v-HiSy1SrAHV4Vs1hQH1vUzSGNkgixB6yonOCq3j4W4bB0m0SYjMq1YBejoJtQf8BCbWnd7wBeNKfd2a3dLgSzYlzbx-hap3uAhLo97B7OyVzEEtn8I2ay70jVLvPwHRS8FtnkEcqlUHG1hoJ9viUDmqxUVyw99L3UJC2e-ALjH3Rd-ajEmxCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
                class="image-suku" />
            </picture>
            <p class="text-suku">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nemo
              doloribus ullam tempore? Aliquam nesciunt corrupti, esse est eos
              quis saepe officia ea qui quod blanditiis exercitationem
              voluptates adipisci modi praesentium aspernatur fugit harum. Quis
              fugit magnam autem voluptate earum?
            </p>
          </article>
        </div>
        <div data-aos="fade-right">
          <article>
            <h3>Adat Istiadat</h3>
            <section
              class="splide"
              aria-label="Placeholder Example"
              id="splide1">
              <ul class="splide__pagination"></ul>
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/d96b/40a9/eaa45238291e93486548889024fa6a99?Expires=1702252800&Signature=noMiUUAV1x91oo0qzhojJVZ4xPMbYuJcXrTP1gVWWl7-KxP35pqQsVvO6S9uH5cFLO0sf~aNfN~5JbDOaNpN3qKlHlK31Glu1Dlq8Ok5I2-dApTysuqvUkf548c6b9k-k2bPC~rlKLlWzyQYIg4nDfW6FGnMPmeJEI7xOY8ws0u4CSt2iz9Oo2SnKdJEHnzNQR8pRt9yFbqgBuTnDxteGiuVI8Hs4TAe~CC~gYokUA8u6Z7G1-M4o7RuNr6vcJn~P1Iii8BjALmN93M0tax5kIpML172LNG926tXLX~4lGA5lfcszJ~OaBiVh34~rw0~rElq4bo5mz30ZoSSA6dEng__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Pakaian Adat</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/0129/aa99/ed3d8a0527c26bfd55fde29049fa72aa?Expires=1702252800&Signature=hPjkrNbCXWT4GZWc0ruOkKwjvi47BkpIEbh~U1SjFUn84LELZBs9lu14NPVN4FQ7UEBYUqmzinwSBrCPUbrcS7nmn4Zdj03W0KwkWwQfXW9O7YEMoVJCNNKIYEt8OaVjBKWQ3rEVYrfPAxtlXBC08WsGOVYWgn-h9rTu~5d8b6d-3~I9WwRrqJWH3S2sYNUInRlW~BzwrnD4GzeIK2eY6JTjVBccashjScIWmHyIkPX3rp7ozfCEwrtM~rndMM-LRORh9jEPcblcyiq26MVUj45CoMnZsRkGKchK9O5SHujQWWo25rCxUU1dYFF~NI4NR1hRDPI~acOCq4MvkY-nZA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Rumah Adat</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/5778/69ad/1bdc651668d64fcbc026e5f9c48c247b?Expires=1702252800&Signature=jaz6iRJkxxT09goPX1~znNGhNz7RceKh~olM2kFP2whlI9Dz9~d-jb3ZtbBlwVV7zZepz12cA1RJJlc6tW~kb0Sfbg1lQ9Wx~7IT-MJXsRknHE3UT73vPWwggXs99CrQRWdm2dvi3-QpbiR1t2c0zBrl16RUzDsAIUKrf6t4GViLVYI2Bl6nTjCGNnLPo2UuoYFrLksKMNhrXQQcyMeramZn9TWmSkiILK4PZ3TPhkdi3cPhjaelwysymNmF2y2iTqf3~Wa5547UgXLA-cEAJVVxwWASIFdMpJdMhM3AD0LVyuLkHlHXAKWwayZrsRM1Im6bDVu3diloBYtpfXsZdw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Upacara Sekaten</p>
                  </li>
                </ul>
              </div>

              <!-- default location -->
            </section>
          </article>
        </div>
        <div data-aos="fade-right">
          <article>
            <h3>Senjata</h3>
            <section
              class="splide"
              id="slider2"
              aria-label="Placeholder Example">
              <ul class="splide__pagination"></ul>
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/0359/5b2a/c9ea56027f6113053560fcd36cdfc783?Expires=1702252800&Signature=HTU3PFoemetbDZGbvvzv2z2W7NuFeei4HuEWJhrofX90FgLlX6JRZWNgI6gShzE5ZeJf7VRWPcMEQLpJv3-4MdO5sXkizANvXVR~-b~zjXtT9v4S~~mLku3YyXYKqlOKm7iLaLdNdGkjynFDAdxgKDgUMAbMf4IpmPehUAJxqBOHbELstAPZBIP6iruXEGm5ID3o2UyD7S60pFRRpaLzTqL9UA00YbhrrNeoOuZycnHctL7mlR~9kX5ajz3oxiKYKZnbXAqX7dEZ6CgGzqMhRmPQgcazD0PHol~siPUZnVY52KZNgvbpfisY4Y3lWlQA-t0~FvJlAtbh4nRmTeLqsQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Keris</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/8228/daae/ce90d523210c6a8dbd4aea66699de7d1?Expires=1702252800&Signature=FJPFX4HUuUKxyZZw1h8W5uzel0sa-ioee6yAXF7M0YOpCeVWUTfuwagIP9h9eGjUJvMl7ZtfXouv0QF~jj0~Z6kb1xGRigs4cvrMbaAU0DhVkavTKwgzPfwJRqJ3yPReaG2xL3DEEC72SxrccQ940hgh5Uc6akOb34xL6q91ttq6LfsYm-igr22RiwBwKDHnVBoPS264hsMP6eTbPqiybTlYuIFE-nkvLX4ZnJ~I5HPYFX5CgpSb3hxq7srHrspLG3Tf4HuEUMZcNgRN2NVIDNYArJr9rZmWGk0JZh8834EqJ0~0ORPiW6ITZtNxQC3T6tZOW5TfTDFZ7WgyRw0T8A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Plintheng</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/a9c3/8109/5d5bbd32c0179711ec7a36770eede36f?Expires=1702252800&Signature=aBLB6JDo31atyDNVBLhk1IGa31Fn7QdcXxGSiZ2mJHmGc9Mfm9hX8aa2W3FkHObPA6N78oho9Gw6EGVxBHBNtfb9zbFyK-f3-AovUnudO5uS4Tdg1RUgTVO0Z6srqhuzeen--gQfYH0oW92BXBMChPaY45LQeFBrteMKg2OGuzPdb5aSEBEx4ANE3Q-uQqghDbowWrmfddOZbffdyBieu7Dc2GhnN7F06XgvCS2mj5qQd2sqZpzi3uUrSjTVswfXrKndJxje~vXKZW0jvZG~gRKtPAx6GrSmtrAyg8im54Sx0RRjA~SqtnfrPF27lZNz2kAMdHLZg6mt9lg5lybp~w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Thulup</p>
                  </li>
                </ul>
              </div>

              <!-- default location -->
            </section>
          </article>
        </div>
        <div data-aos="fade-right">
          <article>
            <h3>Seni</h3>
            <section
              class="splide"
              id="slider2"
              aria-label="Placeholder Example">
              <ul class="splide__pagination"></ul>
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/fea3/aba9/0ebe3edc73919795dd84057aa9d733c8?Expires=1702252800&Signature=A7xyg2SvsURh7HAcziDBYuGmONy0b-N2nv2YuoBD1b1IZH3ISiG~YQFd0Xwa4sIVNT9fdxN76mrUfNFZnHACajQ2WIJ1vqdVlTlWnuthpivXi08LpvUzkVti69pC1C~V59ssQW4KegUbUESBgXspPgj-g9ZnMk96aVFFiQiUuQPyloU38eD4ObdlWPSSv2GPrUcaoaUZBEqrXGtwAxHoB9UVlWcM4W7ddEfjtLSwet80wABBYq~03MN~J9sWFWeruxQ72s7JbFLgkOhVL3cJJeSvbHHT1wNu8jJNkNvlKrrxAgTwRvUIEKdekZITr9EhQ-0qD8nFIl7tj6FpWonJBQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Tari Merak</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/048a/30ad/5eb847f8abc4e587e3946ea926a89c2a?Expires=1702252800&Signature=MGlEpKnOlk1tBGgXq19EnpS~E18DjKWd7kweNr9VjXsZ03h20Xtcq661ycwqiGj4qqF4o~xtRfcuLIu13FOtfK~t~EX~4dJUu65m5nMO-P-sqY8MwUygEZanehD3ZST3N-wsdRa7kAJQaYzY6NNhhoY5TK-ZWW0J5hFyIeKDJ3d5K1UsW-9slvTLxzVyiPRaDSMQLaanQgKWrvIh~B9vvcIGV7FU1zHx0R1rDuF5IrCWrlKcyrpFa-m0smgsf1jhj1hsf-KySo-0XfRsnr4fHoDUNixXjiqCSQrmhkpdHYmvJCR58E1ANJQ1g702uOqCAYEudiHni9SXz3LjfU-Fkg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Tari Bondan Payung</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/833c/7a66/956152e09ceaed8b60331647ad831955?Expires=1702252800&Signature=G-GbQetybzb-1590CuGhbT095K5I-fMrB6gtTeK4e4GFkdr6yi3qiekRZobfxVeC2fSgt1~zl5Im9nyZ-e5QWGzkMPDUHTWM7q6p1UiHtYhHcEj-S3e9Sn~ne~EnhUuhHHwLi4~K~T~qlFUVjxIywDdR71XSZXhFHfqMtDV81TLUZJyHK7ZT4-GEpSS00yXeNgwFd4UEuOyFUZOSuiyVZKVGW8Ab~JvCiBvkIoNEkcuolWdJ4pZhkcZrH7QyPFT1Sxk52Cg1KgqDWZlDv1yP2PAR6iNNk0XXSRYAB6LmRniDZONAdxzLpp8j0xaApZ1-D2frJb6wS5OHvvziSM0zIQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Tari Gambyong</p>
                  </li>
                </ul>
              </div>

              <!-- default location -->
            </section>
          </article>
        </div>
        <div data-aos="fade-right">
          <article>
            <h3>Bahasa</h3>
            <section
              class="splide"
              id="slider2"
              aria-label="Placeholder Example">
              <ul class="splide__pagination"></ul>
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://s3-alpha-sig.figma.com/img/fe69/4db9/394c0f7b114151431030d8879de7f5e5?Expires=1702252800&Signature=lWj7WpIICLdHW0KOlx0agM3Iv1JP3BX6XusxkHIqgQ1~w9Ifp0L2f5XwUqEAIbinMvt~0m0kzRvWfXF02idZSF-2zZfYKyoYarFuhkUAzReABI3o0Hv~s2pYxwFFNAuKHSll2pilBgBh1bMIXHMox5XBKlLdlwbnnH~AqBmoWYTwO4ySKAe5PpsMWwmVlbOSEDmjE8qJkU568NvxQWzMxm9R396e3oxnKxNC9r17tE464TrN3LIa5MnEL1h0IqzBufP-yIbbnjxym8AHOWqet6iEcq9ns8VS6m9QuqZ7~oDCQ-GsuMdLQjfXZykg3~dSdT2hijZ1by35MtztjgdGlQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                      alt="" />
                    <p class="text-pulau__item">Bahasa Jawa</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://th.bing.com/th/id/R.1802f0a8833a4f0badef31754fbc2295?rik=FXFWBut3xdbvUA&riu=http%3a%2f%2fwww.diciamis.com%2fwp-content%2fuploads%2f2012%2f07%2fAksara-Sunda.jpg&ehk=f40nER0aLY%2fqhk0KswC62cbgDqPMJsMS9W7JnItju0o%3d&risl=&pid=ImgRaw&r=0"
                      alt="" />
                    <p class="text-pulau__item">Bahasa Sunda</p>
                  </li>
                  <li class="splide__slide">
                    <div class="overlay-pulau"></div>
                    <img
                      src="https://i.ytimg.com/vi/3D0vvncfdi4/maxresdefault.jpg"
                      alt="" />
                    <p class="text-pulau__item">Bahasa Madura</p>
                  </li>
                </ul>
              </div>

              <!-- default location -->
            </section>
          </article>
        </div>
        <div data-aos="fade-up">
          <article>
            <div class="feedback mt-5">
              <div class="feedback-description">
                <h2>Feedback</h2>
                <p class="mb-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nobis, maxime sequi similique a, expedita enim doloribus,
                  eveniet pariatur dignissimos deserunt incidunt officia
                  quisquam? Culpa nam similique praesentium cumque temporibus.
                  Rem?
                </p>
              </div>
              <div class="feedback-form">
                <form method="POST" id="feedback-form">
                  <div class="mb-3">
                    <label for="nameFeedback" class="form-label">Nama</label>
                    <input
                      type="name"
                      name="name"
                      class="form-control"
                      id="nameFeedback"
                      required />
                  </div>
                  <div class="mb-3">
                    <label for="feedbackComment" class="form-label"
                      >Feedback</label
                    >
                    <textarea
                      name="feedback"
                      class="form-control"
                      required></textarea>
                  </div>
                  <div class="feedback-verified">
                    <div class="mt-3">
                      <button
                        type="submit"
                        id="submit-feedback"
                        class="feedback-submit">
                        Kirim
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="feedback-item mt-5">
              <div class="feedback-card">
                <p>Nama : Raden</p>
                <p>Feedback : untuk informasinya cukup jelas</p>
              </div>
              <div class="feedback-card">
                <p>Nama : Anonim</p>
                <p>
                  Feedback : Informasi masih ada yang kurang dibagian adat
                  istiadat
                </p>
              </div>
              <div class="feedback-card">
                <p>Nama : Raden</p>
                <p>Feedback : untuk informasinya cukup jelas</p>
              </div>
              <div class="feedback-card">
                <p>Nama : Raden</p>
                <p>Feedback : untuk informasinya cukup jelas</p>
              </div>
            </div>
          </article>
        </div>
      </main>
    </div>
    <div class="container-fluid">
      <footer-bar></footer-bar>
      <div class="copyright">
        <p>© 2023 BudayaKu</p>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elms = document.getElementsByClassName('splide');

        for (var i = 0; i < elms.length; i++) {
          new Splide(elms[i], {
            autoWidth: true,
            perPage: 7,
            focus: 0,
          }).mount();
        }
      });
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script>
      const submitFeedbackButton = document.getElementById('submit-feedback');

      submitFeedbackButton.addEventListener('click', (event) => {
        // Validasi formulir
        event.preventDefault();
        const form = document.getElementById('feedback-form');
        if (!form.checkValidity()) {
          event.stopPropagation();
          Swal.fire({
            title: 'Terjadi kesalahan!',
            text: 'Silakan periksa kembali formulir Anda.',
            icon: 'error',
            confirmButtonText: 'OK',
          });
          return;
        }

        // Kirim data formulir
        // ...

        // Tampilkan sweetalert2
        Swal.fire({
          title: 'Feedback Terkirim!',
          text: 'Terima kasih atas feedback Anda!',
          icon: 'success',
          confirmButtonText: 'OK',
        }).then(() => {
          // Reset form
          form.reset();
        });
      });
    </script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
